@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Poppins:wght@500;700&display=swap');
:root{
  --text-color: rgb(79, 79, 79);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  background-color: #e0eafc;
  font-family: 'Mulish', sans-serif;
}
/*navbar*/
.nav{
  padding: 20px 30px; 
}

.logo-container{
  height: 50px;
  padding: 1.5rem;  
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;    
  background: #e0eafc;
  box-shadow: 7px 7px 14px #d0daea,
  -7px -7px 14px #f0faff;

}

.logo-container h3{
  font-size: 3.5rem;
  font-weight: bold;
}

.logo-container:hover{
  background: linear-gradient(145deg, #cad3e3, #f0faff);
  box-shadow: 29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

.logo-container > a{
  background: #79bde0; 
  background: -webkit-linear-gradient(to right, #79bde0, #dd41fd); 
  background: linear-gradient(to right, #79bde0, #dd41fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
/*cardBoard*/
main{
  height: calc(100vh - 120px);
  margin: 0 20px;
  padding: 40px 0px;  
  outline: none;
  background: #e0eafc;
  box-shadow: inset 29px 29px 58px #d0daea,
              inset -29px -29px 58px #f0faff;
  border-radius: 1.5rem;
}

.info-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.title-container{
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 8rem;
  margin-bottom: 50px;
  background: #79bde0; 
  background: -webkit-linear-gradient(to right, #79bde0, #dd41fd); 
  background: linear-gradient(to right, #79bde0, #dd41fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}

.card-board-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.board-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-board{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 1.3rem;
  background: #e0eafc;
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

.button-edit{
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  margin-right: 1.5rem;
  /* background-color: rgba(255, 255, 255, 0); */
  border-radius: 50%;
  background: #e0eafc;
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

.button-edit:focus{
  outline: none;
}

.button-edit > i{
  color: var(--text-color);
  font-size: 2rem;
}

.button-edit > i:hover{
  background: #79bde0; 
  background: -webkit-linear-gradient(to right, #79bde0, #dd41fd); 
  background: linear-gradient(to right, #79bde0, #dd41fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-task{
  width: 60%;
  min-height: 150px !important;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.3rem;
  border: none;
  background: #e0eafc;
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff; 
}

.card-task:focus{
  outline: none;
}

.card-board:hover{
  transform: scale(1.1);
  
}

.card-board:hover button{
  display: block;
}

.card-board:focus{
  outline: none;
  background: #e0eafc;
  box-shadow: inset 29px 29px 58px #d0daea,
              inset -29px -29px 58px #f0faff;
}

.indicator{
  width: 100%;
  height: 10%;
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  background-color: #79bde0;
  background: rgb(121,189,224);
  background: linear-gradient(27deg, rgba(121,189,224,1) 0%, rgba(221,65,253,1) 100%);
}

.card-body{
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title{
  font-size: 2.5rem;
  font-weight:500;
  color: var(--text-color);
  text-transform: uppercase;

}

.buttons-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actios-boards-buttons{
  text-align: -webkit-center;
  height: calc(100vh - 300px);
}

.action-button{
  margin-bottom: 8rem;
}

.delete-button{
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.3rem;
  margin-top: 8rem;
  background: #e0eafc;
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

.create-button{
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.3rem;
  border: none;
  background: #e0eafc;
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

.create-button:hover{
  background: linear-gradient(145deg, #cad3e3, #f0faff);
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

.create-button:focus{
  outline: none;
  background: #e0eafc;
  box-shadow: inset 29px 29px 58px #d0daea,
              inset -29px -29px 58px #f0faff;
              
}

span{
  font-size: 2rem;
  margin-bottom: 2rem;
}

i{
  font-size: xx-large;
  background: #79bde0; 
  background: -webkit-linear-gradient(to right, #79bde0, #dd41fd); 
  background: linear-gradient(to right, #79bde0, #dd41fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/*board*/
#title-board{
  margin: 0px 20px 13px 39px; 
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background: #79bde0; 
  background: -webkit-linear-gradient(to right, #79bde0, #dd41fd); 
  background: linear-gradient(to right, #79bde0, #dd41fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.main-board{
  margin: 0 20px;
  padding: 40px 0px;  
  outline: none;
}

.container {
  width: 1300px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px;
}

.column-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-column{
  width: 90%;
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.5rem;
  margin-bottom: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;    
  background: #e0eafc;
  box-shadow: 7px 7px 14px #d0daea,
  -7px -7px 14px #f0faff;
}

.column{
  width: 30%;
  margin-bottom: 20px;
  outline: none;
  background: #e0eafc;
  box-shadow: inset 29px 29px 58px #d0daea,
              inset -29px -29px 58px #f0faff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-drag{
  transform: rotate(5deg);
}

#create-task-button{
  float: right;
  margin-right: 25px;
  font-size: 2.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;    
  background: #e0eafc;
  box-shadow: 7px 7px 14px #d0daea,
  -7px -7px 14px #f0faff;
}

#create-task-button > i{
  margin-left: 1rem;
}

#create-task-button:hover{
  background: linear-gradient(145deg, #cad3e3, #f0faff);
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

#create-task-button:focus{
  outline: none;
}

.overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 23%);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-container{
  min-width: 600px;
  height: 50rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.3rem;
  background: #e0e5ee;
  box-shadow:  16px 16px 32px #a3abb8,
             -16px -16px 32px #b5bdcc ; 
}

.close-modal{
  width: 6rem;
  height: 6rem;
  align-self: end;
  margin: 1.5rem;
  border: none;
  border-radius: 50%;    
  background: #e0eafc;
  box-shadow: 7px 7px 14px #d0daea,
             -7px -7px 14px #f0faff;             
}

.close-modal:focus{
  outline: none;
  background: linear-gradient(145deg, #cad3e3, #f0faff);
  box-shadow:  29px 29px 58px #d0daea,
              -29px -29px 58px #f0faff;
}

#task-form{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

#task-form div{
  width: 80%;
}

#task-form div input{
  font-size: 2rem;
  border-radius: 5px;
  height: 5rem;
  background: #ffffff;
  box-shadow: inset 21px 21px 42px #ededed,
              inset -21px -21px 42px #ffffff;
  border: none;
}

#task-form div input:focus, #task-form div textarea:focus{
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 60px #d9d9d9,
              -20px -20px 60px #ffffff;
}

#task-form div textarea{
  font-size: 2rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 21px 21px 42px #ededed,
              inset -21px -21px 42px #ffffff;
  border: none;
}

label{
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
  border: none;
}

.delivery-date{
  margin-bottom: 15px;
  font-size: 1.3rem;
}

#delete-task, #update-task{
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  margin: 20px;
  border: none;
  border-radius: 3px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

#delete-task:hover, #update-task:hover{
  background: #ffffff;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

#delete-task:focus, #update-task:focus{
  outline: none;
}

.details-title{
  margin: 34px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.swal2-confirm, .swal2-cancel{
  font-size: 2rem !important;
}

.swal2-title{
  font-size: 2.5rem !important;
}

.swal2-input{
  height: 5rem !important;
  font-size: 2rem!important;
}

.swal2-html-container{
  padding: 56px!important;
}

.details-title > h3{
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background: #79bde0; 
  background: -webkit-linear-gradient(to right, #79bde0, #dd41fd); 
  background: linear-gradient(to right, #79bde0, #dd41fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.details-description{
  font-size: 2.5rem;
  margin: 34px;
  padding: 10px;
  color: var(--text-color);
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.delivery-description{
  max-width: 20%;
  padding: 5px;
  margin: 10px auto;
  font-size: 2rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.swal2-popup{
  width: 80rem !important;
}

.table-container{
  padding: 20px;
}

th{
  border: none!important;
  border-collapse: inherit!important;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.table{
  border-collapse: inherit!important; 
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 21px 21px 42px #ededed,
            inset -21px -21px 42px #ffffff;
}
/*swal2-popup swal2-modal swal2-show*/
